
  .container {
    display: flex;
    background-color: black;
    height: 400px; 
margin: auto;
    width:  auto;
  justify-content: space-between;
  
  }
  .boxes {
    display: flex;
    border: 0.1px solid;
    width: 200px;
    height: 200px;

  margin:auto;
    background-color: blue;
    flex-direction: column;
  }
  .smallbox {
    display: flex;
    background-color: black;
    width: 30px;
    height: 30px;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
  }

  .smallerboxes {
    background-color: blue;
    width:2px;
    height: 2px;
    margin: auto;
  }

